.contact {
  display: flex;
  justify-content: flex-start;

  column-gap: 35px;
  margin-top: 30px;
  padding-left: 10px;
}

.contact:first-of-type {
  margin-top: 30px;
}

.contact__icon {
  width: 30px;
}

.contact:nth-of-type(2) .contact__icon {
  padding-top: 6px;
  margin-left: -3px;
  width: 33px;
}

.contact:nth-of-type(3) .contact__icon {
  padding-top: 10px;
  margin-left: -4px;
  width: 35px;
}

.contact:nth-of-type(4) .contact__icon {
  width: 35px;
  margin-left: -5px;
}

.contact__info-block {
  display: flex;
  flex-direction: column;
  row-gap: 4px;
  font-family: "Cormorant Upright", serif;
}

.contact__title {
  font-weight: 700;
  font-style: bold;
  font-size: 19px;
}

.contact__paragraph {
  margin: 0;
  font-size: 18px;
  line-height: 120%;
  font-weight: 400;
}
